@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
.font-myeongjo {
  font-family: 'Nanum Myeongjo', serif;
}
.font-pretendard {
  font-family: 'Pretendard', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  @apply bg-SYSTEM-beige;
}

.quill-editor {
  @apply bg-SYSTEM-white w-[900px] border-0 rounded-xl;
}

.quill-editor .ql-snow {
  @apply border-none h-[80px] flex justify-center items-center !important;
}

.quill-editor .ql-editor {
  @apply border-none min-h-[200px];
}

.quill-editor .ql-container {
  @apply absolute top-[19%] left-0 w-[900px] min-h-[200px] bg-SYSTEM-white rounded-xl !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
