@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
.font-myeongjo {
  font-family: 'Nanum Myeongjo', serif;
}
.font-pretendard {
  font-family: 'Pretendard', sans-serif;
}

/* google map auto search */
.pac-container {
  background-color: #fff;
  border: 1px solid #ccc;
  z-index: 1000;
  font-family: 'Pretendard', sans-serif;
}

.pac-item {
  padding: 10px;
  cursor: pointer;
}

.pac-item:hover {
  background-color: #f0f0f0;
}

.pac-item-query {
  font-weight: bold;
}

body {
  width: 100vw;
  height: 100vh;
  @apply bg-SYSTEM-beige;

  /* prevent Drag */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;

  /* invisible scroll */
  ::-webkit-scrollbar {
    display: none; /* chrome, safari, opera, edge */
  }
}


