@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
.font-myeongjo {
  font-family: 'Nanum Myeongjo', serif;
}
.font-pretendard {
  font-family: 'Pretendard', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  @apply bg-SYSTEM-beige;

  /* prevent Drag */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

/* editor */
.quill-editor {
  @apply bg-SYSTEM-white w-[900px] mt-1 rounded-xl shadow-lg;
}
.quill-editor .ql-snow {
  @apply border-none h-[80px] flex justify-center items-center !important;
}
.quill-editor .ql-editor {
  @apply relative border-none w-[900px] min-h-[200px] bg-SYSTEM-white rounded-lg;
}
.quill-editor .ql-container  {
  @apply w-[900px] min-h-[200px] h-max p-2 text-sm text-left bg-SYSTEM-white rounded-xl !important;
}

/* free-form editor style */
.free-editor .ql-container {
  @apply h-[1060px] !important;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
